<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet"
          href="C:\Users\Bruger\Documents\GitHub\Nyboders-Koekken\src\main\resources\static\style.css"
          th:href="@{style.css}"/>

    <title>Vagter</title>

</head>
<body>
<h1>Vagtplan</h1>
<table align="center">
    <tr>
        <td> Medarbejder ID</td>
        <td>Navn</td>
        <td>Dato</td>
        <td>Vagt-Start</td>
        <td>Vagt-Slut</td>
        <td>Antal Timer</td>
        <td>Muligheder</td>

    </tr>
    <tr th:each="shift: ${s}">
        <td th:text="${shift.id}"/>
        <td th:text="${shift.name}"/>
        <td th:text="${shift.date}"/>
        <td th:text="${shift.shiftStart}"/>
        <td th:text="${shift.shiftEnd}"/>
        <td th:text="${shift.hours}"/>
        <td><a th:href="@{/shiftdelete(id=${shift.id})}" class="btn" id="red">DELETE</a>
            <a th:href="@{/shiftupdate(id=${shift.id})}" class="btn" id="">UPDATE</a>
        </td>

    </tr>
</table>
<a href="/shiftcreate" class="btn" id="blue">Opret Vagt</a>
<a href="/login" class="btn" id="blue">RETURN</a>


</body>
</html>