<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css"
          href="C:\Users\Hushi\IdeaProjects\TeknikObligatorisk\src\main\resources\static\style.css"
          th:href="@{style.css}"/>
</head>
<body>

<h1>Medarbejdere</h1>

<table align="center">
    <tr>
        <td>ID</td>
        <td>Navn</td>
        <td>Antal timer</td>
        <td>Options</td>
    </tr>
    <tr th:each="employee: ${e}">
        <td th:text="${employee.id}"/>
        <td th:text="${employee.name}"/>
        <td th:text="${employee.totalHours}"/>
        <td><a th:href="@{/adminshift(name=${employee.name})}" class="btn" id="blue">Se Vagter</a>
            <a th:href="@{/admindelete(name=${employee.name})}" class="btn" id="red">Fjern Medarbejder</a>
        </td>

    </tr>
</table>

<a href="/reservationemployee" class="btn" id="blue">Se Reservationer</a>
<a href="/admincreate" class="btn" id="blue">Opret Medarbejder</a>

</body>
</html>