<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>

    <link rel="stylesheet"
          href="C:\Users\Bruger\Documents\GitHub\Nyboders-Koekken\src\main\resources\static\style.css"
          th:href="@{style.css}"/>

</head>
<body>

<h1>Hej</h1>

<ul>
    <li><a href="">Forside</a></li>
    <li><a href="">Frokostmenu</a></li>
    <li><a href="">Aftenmenu</a></li>
    <li><a href="">Julemenu</a></li>
    <li><a href="">Vinmenu</a></li>
    <li><a href="">Selskaber</a></li>
    <li><a href="">Reservation</a></li>
    <li><a href="">åbningstider</a></li>
    <li><a style="float:right"><a class=active" th:href="@{/login}">Login</a></li>

</ul>


</body>
</html>