<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet"
          href="C:\Users\Bruger\Documents\GitHub\Nyboders-Koekken\src\main\resources\static\style.css"
          th:href="@{style.css}"/>

    <title>VagtÆndring </title>

</head>

<body>
<h1> VagtÆndring</h1>


<form th:action="@{/reservationupdate}" method="post" th:object="${reservation}">
    <input type="text" th:field="*{id}" th:text="${id}" readonly="readonly" />
    <input type="text" th:field="*{name}" />
    <input type="text" th:field="*{phone}" />
    <input type="text" th:field="*{guest}" />
    <input type="date" th:field="*{date}"  />
    <input type="time" th:field="*{time}"  />
    <input type="text" th:field="*{request}" />

    <input type="submit" value="Update Reservation" />


</form>
</body>
</html>