<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet"
          href="C:\Users\Bruger\Documents\GitHub\Nyboders-Koekken\src\main\resources\static\style.css"
          th:href="@{style.css}"/>

    <title>VagtÆndring </title>

</head>

<body>
<h1> VagtÆndring</h1>


<form th:action="@{/shiftupdate}" method="post" th:object="${shift}">
    <input type="text" th:field="*{id}" th:text="${id}" />
    <input type="text" th:field="*{name}" />
    <input type="date" th:field="*{date}"  />
    <input type="time" th:field="*{shiftStart}"  />
    <input type="time" th:field="*{shiftEnd}" />
    <input type="text" th:field="*{hours}" />

    <input type="submit" value="Update Shift" />


</form>
</body>
</html>