<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet"
          href="C:\Users\Bruger\Documents\GitHub\Nyboders-Koekken\src\main\resources\static\style.css"
          th:href="@{style.css}"/>

    <title>Vagtbytte </title>

</head>

<body>
    <h1> Vagtbytte</h1>

    <form   th:action="@{/update}" method="post" th:object="${us}">
        <select>
            <input type="text" th:field="*{studentId}" />
            <input type="text" th:field="*{studentId}" />
        <option type="text" th:field="{name}" value="na">Opel</option>
        <option value="audi">Audi</option>

    </select>
    </form>
</body>
</html>